.hide {
    display: none;
}

.copied {
    color: red;
}

.container {
    margin-top: 10%;
    position: relative;
    width: 60%;
}

#modal {
    z-index: 1000;
    position: absolute;
    top: 0;
    width: 30%;
}

.form-check {
    margin-left: 5%;
}

#validate-length,
#validate-boxes {
    color: red;
    font-weight: bold;
}


